{{! For now this is a verbatim copy of
 https://github.com/swagger-api/swagger-codegen-generators/blob/695f1cb7079b0fb4d0982e2f902dc5f59a543263/src/main/resources/handlebars/JavaSpring/generatedAnnotation.mustache }}
{{^hideGenerationTimestamp}}
@javax.annotation.Generated(value = "{{generatorClass}}", date = "{{generatedDate}}")
{{/hideGenerationTimestamp}}
@ApiInformation(group = "{{crdGroup}}", version = "{{crdVersion}}")
@Generated
